<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/list', user: current_user,new_book: @new_book %>
    </div>
    <div class="col-md-9">
      <h1>Groups</h1>
      <table class="table">
        <thead>
          <tr>
            <td></td>
            <td>グループ名</td>
            <td>紹介文</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= attachment_image_tag group, :image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg" %></td>
              <td><%= link_to group.name, group_path(group) %></td>
              <td><%= group.introduction %></td>
              <td>
              <% if group.owner_id == current_user.id %>
                <%= link_to "Edit", edit_group_path(group), class:"btn btn-sm btn-success"%>
              <% else %>
                <% if group.group_users.exists?(user_id: current_user.id) %>
                  参加中
                <% else %>
                  未参加
                <% end %>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>