
  <div class="col-md-3">
    <h2>User info</h2>
    <p><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg" %></p>
    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th> <%= user.introduction %></th>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <% if user.id == current_user.id %>
        <%= link_to(edit_user_path(user)) do %>
          <div class="btn btn-outline-secondary btn-block fas fa-user-cog" ></div>
        <% end %>
      <% else %>
        <%= link_to(user_path(current_user)) do %>
          <div class="btn btn-outline-secondary btn-block fas fa-user-cog" ></div>
        <% end %>
      <% end %>
    </div>

    <h2>New book</h2>
    <%= form_with model:new_book,local:true do |f| %>
      <h4>Title</h4>
      <%= f.text_field :title %>
      <h4>Opinion</h4>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
    <% end %>
  </div>