<% if flash[:notice] %>
  <div class = "notice" >
    <%= flash[:notice] %>
  </div>
<% end %>

<h1>User info</h1>
<p><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg" %></p>
<p>name <%= user.name %></p>
<p>introduction <%= user.introduction %></p>
<% if user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(user) %></p>
<% else %>
  <p><%= link_to "プロフィール編集", user_path(current_user) %></p>
<% end %>