<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/list', user:@book_user,new_book:@new_book, room:@room, roomId:@roomId %>
    </div>
    <div class="col-md-9 book-table">
      <%= link_to "グループを作成する", new_group_path %> | <%= link_to "グループ一覧", groups_path %>
      <%= render 'books/books', books:@books %>
      <div class="number-of-posts">
        <h2>投稿数の前日比・前週比</h2>
        <table class="table">
          <thead>
            <tr>
              <th>今日の投稿数</th>
              <th>前日の投稿数</th>
              <th>前日比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @today_posts %></td>
              <td><%= @yesterday_posts %></td>
              <td><%= @day_comparison %>%</td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <thead>
            <tr>
              <th>今週の投稿数</th>
              <th>前週の投稿数</th>
              <th>前週比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @this_week_posts %></td>
              <td><%= @last_week_posts %></td>
              <td><%= @week_comparison %>%</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <h2>7日分の投稿数</h2>
        <table class="table">
          <thead>
            <tr>
              <th>6日前</th>
              <th>5日前</th>
              <th>4日前</th>
              <th>3日前</th>
              <th>2日前</th>
              <th>1日前</th>
              <th>今日</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @six_days_ago_posts %></td>
              <td><%= @five_days_ago_posts %></td>
              <td><%= @four_days_ago_posts %></td>
              <td><%= @three_days_ago_posts %></td>
              <td><%= @two_days_ago_posts %></td>
              <td><%= @yesterday_posts %></td>
              <td><%= @today_posts %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <%= form_with model:@search_day, remote: true do |f| %>
          <%= f.date_field :search_day %>
          <%= f.submit "検索" %>
        <% end %>
        <div class="search_by_day">
          <p class="mt-1">検索結果</p>
          <table class="table">
            <thead>
              <tr>
                <td>投稿数</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="search-count"><%= @search_day_counts %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <canvas id="myChart"></canvas>
        <script>
        $(document).on('turbolinks:load', function(){
          var ctx = document.getElementById("myChart");
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: ["6日前", "5日前", "4日前", "3日前", "2日前", "1日前", "今日"],
              datasets: [{
                label: '投稿数',
                backgroundColor: "rgba(0,0,150,0.3",
                borderColor: "rgba(0,0,150,1)",
                data: [<%= @six_days_ago_posts %>, <%= @five_days_ago_posts %>, <%= @four_days_ago_posts %>, <%= @three_days_ago_posts %>, <%= @two_days_ago_posts %>, <%= @yesterday_posts %>, <%= @today_posts %>]
              }]
            },
            options: {
              title: {
                display: true,
                text: '7日間の投稿数の比較'
              },
              scales: {
                yAxes: [{
                  ticks: {
                    suggestedMax: 10,
                    sugggestedMin: 0,
                    stepSize: 1,
                  }
                }]
              }
            }
          });
        });
        </script>
    </div>
  </div>
</div>