<% if @book.errors.any? %>
  <p><%= @book.errors.count %> errors phohibited this obj from being saved</p>
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h1>Editing Book</h1>
<%= form_with model:@book,local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Update Book' %>
<% end %>