<div class="comment-error">
  <%= render 'layouts/error_messages', model: @comment %>
</div>

<div class="container">
  <div class="row">
    <%= render 'users/list',user:@user,new_book:@new_book %>

    <div class="col-md-9">
      <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td><%= link_to attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg"), user_path(@book.user) %></td>
              <td><%= link_to @book.user.name, user_path(@book.user) %></td>
              <td><%= link_to @book.title, book_path(@book) %></td>
              <td><%= @book.body %></td>
              <td class="favorite-btn-<%= @book.id %>">
                <%= render 'books/favorites', book: @book %>
              </td>
               <td class="book_evaluation" data-score="<%= @book.evaluation %>"></td>
              <% if @book.user_id == current_user.id %>
                <td><%= link_to "Edit", edit_book_path(@book),class:"btn btn-sm btn-success" %></td>
                <td><%= link_to "Destroy", book_path(@book),class:"btn btn-sm btn-danger",method: :delete, "data-confirm" => "本当に消してもいいの？" %></td>
              <% end %>
              <td class="comments-count">コメント数：<%= @book.book_comments.count %></td>
            </tr>
          </tbody>
        </table>

        <h2>Comments</h2>
        <div class="comment" >
          <%= render 'book_comments/comments', book: @book %>
        </div>
        <div class="new-comment">
          <%= render 'book_comments/new_comment', book: @book, comment: @comment %>
        </div>
  </div>
</div>

<script>
  $('.book_evaluation').raty({
    readOnly: true,
    srore: function(){
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>