<div class="container">
  <div class="row">
    <%= render 'users/list',user:@user,new_book:@new_book %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td><%= link_to attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg"), user_path(@book.user) %></td>
              <td><%= link_to @book.user.name, user_path(@book.user) %></td>
              <td><%= link_to @book.title, book_path(@book) %></td>
              <td><%= @book.body %></td>
              <% if @book.user_id == current_user.id %>
                <td><%= link_to "Edit", edit_book_path(@book) %></td>
                <td><%= link_to "Destroy", book_path(@book),method: :delete, "data-confirm" => "本当に消してもいいの？" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>